<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"C:\Users\John\Data-Science\Homework\Unit2\data\chipotle.tsv", sep='\t')

In [2]:
df=df.rename(columns={'order_id':'Order','quantity':'Quantity','item_name':'Item','choice_description':'Description','item_price':'Total'})

In [3]:
type(df['Total'][0])

str

In [4]:
df['Total'] = df['Total'].str.replace('$', '').astype(float)

In [5]:
df['Unit Price']=df['Total']/df['Quantity']

In [6]:
df.head(10)

,Order,Quantity,Item,Description,Total,Unit Price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
6,3,1,Side of Chips,NaN,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25

In [7]:
df.describe()

             Order     Quantity        Total   Unit Price
count  4622.000000  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336     7.084424
std     528.890796     0.410186     4.245557     3.665487
min       1.000000     1.000000     1.090000     1.090000
25%     477.250000     1.000000     3.390000     2.950000
50%     926.000000     1.000000     8.750000     8.750000
75%    1393.000000     1.000000     9.250000     9.250000
max    1834.000000    15.000000    44.250000    11.890000

In [8]:
#grouping by order number
Average_Price=df.groupby('Order')['Unit Price'].mean()

In [9]:
Average_Price

Order
1        2.890000
2        8.490000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: Unit Price, Length: 1834, dtype: float64

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [10]:
#see above

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [11]:
#see above

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [12]:
df.Item.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Bowl                                       2
Salad                                      2
Crispy Tacos                               2
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Name: Item, dtype: int64

In [13]:
df.Description.unique()

array([nan, '[Clementine]', '[Apple]', ...,
       '[Roasted Chili Corn Salsa, [Pinto Beans, Sour Cream, Cheese, Lettuce, Guacamole]]',
       '[Tomatillo Green Chili Salsa, [Rice, Black Beans]]',
       '[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]'],
      dtype=object)

In [14]:
df1=df.loc[(df['Item']=='Canned Soda')|(df['Item']=='Canned Soft Drink')]

In [15]:
unique_sodas = list(df1.Description.unique())

In [16]:
unique_sodas = [soda.replace('[','') for soda in unique_sodas]

In [17]:
unique_sodas = [soda.replace(']','') for soda in unique_sodas]

In [18]:
unique_sodas

['Sprite',
 'Dr. Pepper',
 'Mountain Dew',
 'Diet Dr. Pepper',
 'Coca Cola',
 'Diet Coke',
 'Coke',
 'Lemonade',
 'Nestea']

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [19]:
df.Description=df.Description.str.split(',')

In [20]:
df

,Order,Quantity,Item,Description,Total,Unit Price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[[Clementine]],3.39,3.39
2,1,1,Nantucket Nectar,[[Apple]],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[[Tomatillo-Red Chili Salsa (Hot), [Black Bea...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[[Fresh Tomato Salsa, [Rice, Black Beans, S...",11.75,11.75
4618,1833,1,Steak Burrito,"[[Fresh Tomato Salsa, [Rice, Sour Cream, Ch...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[[Fresh Tomato Salsa, [Fajita Vegetables, Pi...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[[Fresh Tomato Salsa, [Fajita Vegetables, Le...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[[Fresh Tomato Salsa, [Fajita Vegetables, Pi...",8.75,8.75

In [21]:
df=df[df['Item'].str.contains('Burrito')]

In [22]:
df.head()

,Order,Quantity,Item,Description,Total,Unit Price
7,4,1,Steak Burrito,"[[Tomatillo Red Chili Salsa, [Fajita Vegetabl...",11.75,11.75
9,5,1,Steak Burrito,"[[Fresh Tomato Salsa, [Rice, Black Beans, P...",9.25,9.25
16,8,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), [Pint...",8.49,8.49
17,9,1,Chicken Burrito,"[[Fresh Tomato Salsa (Mild), [Black Beans, R...",8.49,8.49
21,11,1,Barbacoa Burrito,"[[[Fresh Tomato Salsa (Mild), Tomatillo-Green...",8.99,8.99

In [23]:
a=pd.Series([item for sublist in df.Description for item in sublist]).count()

In [24]:
a

6323

In [25]:
average = a/df['Item'].count()

In [26]:
average

5.395051194539249

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [27]:
df1 = pd.read_csv(r"C:\Users\John\Data-Science\Homework\Unit2\data\chipotle.tsv", sep='\t')

In [28]:
df1

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [29]:
df1=df1.rename(columns={'order_id':'Order','quantity':'Quantity','item_name':'Item','choice_description':'Description','item_price':'Total'})

In [30]:
df1['Total'] = df1['Total'].str.replace('$', '').astype(float)

In [31]:
df1=df1[df1['Item'].str.contains('Chip')]

In [32]:
df1=df1.dropna(axis=1)

In [33]:
df1.head()

    Order  Quantity                                   Item  Total
0       1         1           Chips and Fresh Tomato Salsa   2.39
3       1         1  Chips and Tomatillo-Green Chili Salsa   2.39
6       3         1                          Side of Chips   1.69
10      5         1                    Chips and Guacamole   4.45
14      7         1                    Chips and Guacamole   4.45

In [34]:
df1.Item.unique()

array(['Chips and Fresh Tomato Salsa',
       'Chips and Tomatillo-Green Chili Salsa', 'Side of Chips',
       'Chips and Guacamole', 'Chips and Tomatillo Green Chili Salsa',
       'Chips', 'Chips and Tomatillo Red Chili Salsa',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa',
       'Chips and Tomatillo-Red Chili Salsa',
       'Chips and Mild Fresh Tomato Salsa'], dtype=object)

In [35]:
#pd.Series(df1.Quantity.values,index=df1.Item).to_dict()

In [36]:
df1

      Order  Quantity                                   Item  Total
0         1         1           Chips and Fresh Tomato Salsa   2.39
3         1         1  Chips and Tomatillo-Green Chili Salsa   2.39
6         3         1                          Side of Chips   1.69
10        5         1                    Chips and Guacamole   4.45
14        7         1                    Chips and Guacamole   4.45
...     ...       ...                                    ...    ...
4596   1826         1                    Chips and Guacamole   4.45
4600   1827         1                    Chips and Guacamole   4.45
4605   1828         1                    Chips and Guacamole   4.45
4613   1831         1                                  Chips   2.15
4616   1832         1                    Chips and Guacamole   4.45

[1084 rows x 4 columns]

In [37]:
df1['Item']=[item.replace('-',' ') for item in df1['Item']]

In [38]:
df1.Item.unique()

array(['Chips and Fresh Tomato Salsa',
       'Chips and Tomatillo Green Chili Salsa', 'Side of Chips',
       'Chips and Guacamole', 'Chips',
       'Chips and Tomatillo Red Chili Salsa',
       'Chips and Roasted Chili Corn Salsa',
       'Chips and Mild Fresh Tomato Salsa'], dtype=object)

In [39]:
df1

      Order  Quantity                                   Item  Total
0         1         1           Chips and Fresh Tomato Salsa   2.39
3         1         1  Chips and Tomatillo Green Chili Salsa   2.39
6         3         1                          Side of Chips   1.69
10        5         1                    Chips and Guacamole   4.45
14        7         1                    Chips and Guacamole   4.45
...     ...       ...                                    ...    ...
4596   1826         1                    Chips and Guacamole   4.45
4600   1827         1                    Chips and Guacamole   4.45
4605   1828         1                    Chips and Guacamole   4.45
4613   1831         1                                  Chips   2.15
4616   1832         1                    Chips and Guacamole   4.45

[1084 rows x 4 columns]

In [40]:
#pd.Series(df1.Item.values,index=df1.Quantity).to_dict()

In [41]:
df1 = df1[['Item','Quantity']]

In [42]:
df1

                                       Item  Quantity
0              Chips and Fresh Tomato Salsa         1
3     Chips and Tomatillo Green Chili Salsa         1
6                             Side of Chips         1
10                      Chips and Guacamole         1
14                      Chips and Guacamole         1
...                                     ...       ...
4596                    Chips and Guacamole         1
4600                    Chips and Guacamole         1
4605                    Chips and Guacamole         1
4613                                  Chips         1
4616                    Chips and Guacamole         1

[1084 rows x 2 columns]

In [43]:
#df.set_index('Item').to_dict()['Quantity']

In [44]:
s1=df1.groupby('Item')['Quantity'].sum()

In [45]:
type(s1)

pandas.core.series.Series

In [46]:
final=s1.to_dict()

In [47]:
final

{'Chips': 230,
 'Chips and Fresh Tomato Salsa': 130,
 'Chips and Guacamole': 506,
 'Chips and Mild Fresh Tomato Salsa': 1,
 'Chips and Roasted Chili Corn Salsa': 41,
 'Chips and Tomatillo Green Chili Salsa': 78,
 'Chips and Tomatillo Red Chili Salsa': 75,
 'Side of Chips': 110}

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!

In [194]:
df1.size

5420

In [195]:
df1

,Order,Quantity,Item,Total,Unit Price
0,1,1,Chips and Fresh Tomato Salsa,2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,2.39,2.39
6,3,1,Side of Chips,1.69,1.69
10,5,1,Chips and Guacamole,4.45,4.45
14,7,1,Chips and Guacamole,4.45,4.45
...,...,...,...,...,...
4596,1826,1,Chips and Guacamole,4.45,4.45
4600,1827,1,Chips and Guacamole,4.45,4.45
4605,1828,1,Chips and Guacamole,4.45,4.45
4613,1831,1,Chips,2.15,2.15
4616,1832,1,Chips and Guacamole,4.45,4.45